*{
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
.left{
    display: flex;
    align-items: center; 
    flex: 3;
}
.left h1{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 20px;
    font-weight: 400;
}
.left img{
    height: 30px;
    width: 30px;  
    margin-left: 50px;
}
.left a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-family: sans-serif;
}
.right{
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
.right select{
    border: none;   
}
.right i{
    margin-left: 20px;
    font-size: 20px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}
.m-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
}
.m-left h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
}
.m-left p{
    font-family: sans-serif;
    margin-top: 30px;
    width: 70%;
}
.btn-container button{
    margin-top: 30px;
    padding-top: 5px;
    height: 40px;
    width: 150px;
    background-color: rgb(83, 83, 189);
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.btn-container a{
    margin-left: 30px;
    color: blue;
    font-family: sans-serif;
}
.m-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0px;
}
